
body {
    background-color: rgb(236, 229, 199);
}

.containerTabla{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

table{
  border: 1px solid black;
  width: 95%; 
  margin-top: 1%;
}

th{
    border: 1px solid black; 
    background-color: rgb(68, 156, 150);
}

td, tr{
    border: 1px solid black; 
    background-color: rgb(194, 222, 220);
}

table button{
  background-color: aqua;
  width: 200px;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 50px;
}

table button:hover{
  background-color: rgb(31, 100, 100);
}


.containerButton{
  margin-left: 70%;
    margin-top: 1%; 
}

.containerButton button{
  width: 100px;
  border-radius: 50px;
  background-color: rgb(36, 190, 242);
}

.containerButton button:hover{
  background-color: rgb(35, 116, 143);
}

.icon-button i {
  font-size: 20px; 
}

.modalInventario {
  display: none;
  position: fixed;
  top: 0;
  left: 15%;
  width: 70%;
  height: 100%;
}

.modal-contentInv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid black;
}

.modalActualizar {
  display: none;
  position: fixed;
  top: 0;
  left: 5%;
  width: 120%;
  height: 100%;
}

.modal-contentAct {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid black;
  display: flex;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.modalBtnContainer{
  margin-top: 3%;
}

.modal-contentInv .suma{
  margin-left: 50%;
  background-color: aquamarine;
  width: 90px;
  border-radius: 60px;
}

.column {
  flex: 1;
  margin: 0 10px;
}

.btnGuardar{
  width:150px;
  margin-top: 300%;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(75, 219, 210);
  cursor: pointer;
}

.btnGuardar:hover{
  background-color: rgb(47, 131, 125);
}

.modal-contentAct img{
  width: 100px;
  height:100px;
}

#infoLibro{
  margin-right: 2%;
}