body {
    background-color: rgb(236, 229, 199);
}


/* INICIA WEBCOMPONENT*/
.containerBusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.custom-search {
    position: relative;
}

.custom-search input {
    width: 60%; 
    padding: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;
}
.custom-search button {
    position: absolute;
    right: 115px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(86, 130, 147);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    color: white;
}

.containerRadioButton {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.containerRadioButton .form-check {
    margin-right: 20px; 
}

.inputBusqueda {
    width: 30%;
}

.containerBusqueda button {
    margin-left: 2%;
    background-color: rgb(86, 130, 147);
    border-radius: 35px;
    width: 150px;
}

/*  iamgen js*/
#resultadosBusqueda {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center; 
    align-items: center;
  }
  
  .resultadosBusqueda .form-check {
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 350px;
  }
  
  .resultadosBusqueda .imagenResultado {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    
  }
  .resaltadoPalabraClave {
    background-color: blue; 
    font-weight: bold; 
}
/* TERMINA WEBCOMPONENT*/

.containerCarrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Ajusta el espacio entre el carrusel y el buscador */
    width: 50%;
    margin-left: 25%;
}

.containerVideo{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 15%;
    width: 80%; /* O ajusta el ancho según tus necesidades */
}

.containerVideo video{
    width: 300px;
    height: 150px;
}

video:hover  {
    opacity: 0.8; /* Opacidad reducida al hacer hover */
}

.columna {
    flex: 1;
    margin-right: 10px; /* Espacio entre columnas */
}