body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(236, 229, 199);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedorImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.logo {
    max-width: 100px;
    max-height: 100px; 
    width: auto;
    height: auto;
}


.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.login-form {
    padding: 20px;
}

.login-form h2 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color:  rgb(17, 106, 123);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #258cd1;
}

.labelRegistrarse{
    text-align: center;
    margin-left: 1%;
    margin-top: 15px;
}

/* Cambio de color al pasar el cursor */
.labelRegistrarse:hover {
    color: darkblue;
    cursor: pointer;
}