body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(236, 229, 199);
}

.containerForm {
    margin-top: 2%;
    margin-left: 30%;
    border-radius: 15px;
    width: 700px;
    background-color: white;
}

.formulario {
    margin-right: 90px;
    margin-left: 1%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: large;
    display: block;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-size: large;
}

#archivo {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

#archivo:hover {
    border-color: #888;
}

.containerButton {
    margin-left: 50%;
    padding-bottom: 10px;
}

.containerButton button {
    width: 150px;
    margin-top: 5%;
    margin-left: 1%;
    border-radius: 5px;
    font-size: large;
}

#botonCancelar {
    background-color: rgb(238, 141, 28);
    color: white;
}

#botonGuardar {
    background-color: rgb(36, 190, 242);
    color: white;
}

#botonGuardar:hover {
    background-color: rgb(21, 109, 139);
}

#botonCancelar:hover {
    background-color: rgb(128, 73, 9);
}
